<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  <ion-button type="submit"  (click) = startVideo() expand="block">Start Video</ion-button>
    <ion-button type="submit"  (click) = stopVideo() expand="block">Stop Video</ion-button>
    <ion-button type="submit"  (click) = startAudio() expand="block">Start Audio</ion-button>
    <ion-button type="submit"  (click) = stopAudio() expand="block">Stop Audio</ion-button>-->

  <ion-slides [options]="slideOptsOne" #slideWithNav>
    <ion-slide *ngFor="let story of data; let i = index;">
      <div class="banner1">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/news-17933.appspot.com/o/images%2Fbanner1.jpg?alt=media&token=75e97483-61e1-485c-98ed-eb54db6318da"
          vertical-align="top"
        />
        <h2 class="slidetitle" align="center">
          <span class="block">{{story.name}}</span>
        </h2>
        <div [innerHTML]="story.desc"></div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
